*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.aduvjp2{
    background-color: white;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.nani1{
    width: 200px;
    height: 50px;
    margin-left: 27px;
    margin-top: 16px;
}
.nani2{
    width: 200px;
    height: 50px;
    margin-top: 14px;
}
.nani3{
    width: 632px;
    height: 350px;
    margin-top: -8px;
    margin-left: 27px;
}
.text{
    padding: 4%;
}
.lol{
    padding: 44%;
    padding-top: 30px;
    padding-left: 2px;

}
.conmemay{
    color: red;
}
a{
    background-color: black;
    width: 188px;
    height: 31px;
    display: block;
    margin-left: 27px;
    margin-top: 0px;
    color: white;
    padding-top: 9px;
    padding-left: 34px;
}
.col-md-6 .container{
    width: 50%;
}
