*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #817c88;
}
.map{
    width:100% ;
    height: 450px;
}
.information-page{
    margin-top: 10%;
    padding-bottom: 65px;
}
.block-left{
    margin-top: -1%;
}
.information-page h4{
    color: #e53637;
}
.information-page h1{
    color: #111111;
}
.information-page h3 {
    color: #111111;
}
.input-information{
    padding: 3% ;
    width: 100%;
}

.box-message{
    margin-top: 4%;
    width: 100%;
    padding: 1% 1% 15%;
}
.button-send{
    color: #fbf7f3;
    background-color: #111111;
    margin-top: 25px;
    padding: 2%;
    font-size: 16px;
}
